<div id="clickedDiv">
  <div>
    <h3>{{description}}</h3>
    <p>created at {{created}}</p>
  </div>
  <div class="linksDiv">
    <a href="/{{id}}/edit">edit</a>
    <a href="/{{id}}/delete">delete</a>
  </div>
</div>