<div class="pagewrapper">
    
    <div>
    <h3>edit description and/or status:</h3>

    <form action="/{{id}}/edit" method="post"><input
      type="text"
      name="description"
      placeholder="description"
      value="{{description}}"
      class="inputBtn"
    />
    

<input type="checkbox" name="done" class="check" {{#if done}}checked{{/if}}/>
</div>
<input type="submit" value="save" class="submitBtn" />

</form>
</div>