<div class="pagewrapper">

  <h3>add a new todo:</h3>
  <form action="/new" method="post"><input
      type="text"
      name="description"
      placeholder="description"
      class="inputBtn"
      required
    /><input type="submit" value="save" class="submitBtn" /></form>
</div>