<h5>This todo is:</h5>

<form action="/{{id}}/status" method="post">
  <input type="submit" name="done" value="done" />
</form>

<form action="/{{id}}/status" method="post">
  <input type="submit" name="undone" value="undone" />
</form>