/* general pages */

html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0px;
  width: 100%;
  background-color: #cad0bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 350px;
  padding: 30px;
}

header {
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  justify-content: center;
}

nav > h1 > a {
  font-family: "Source Code Pro", monospace;
  text-decoration: none;
  cursor: pointer;
  font-size: 24pt;
  color: rgb(0, 0, 0);
}

.bodywrapper {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  border-top: 1px solid black;
}

footer > i {
  font-size: 18pt;
  padding-top: 20px;
  color: rgb(57, 145, 35);
}

/* todos.hbs */
#homewrapper {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}

#circleDiv {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.headline > h3 {
  font-size: 20pt;
  font-family: "Source Code Pro", monospace;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle:hover {
  background-color: rgb(57, 145, 35);
}

.circle > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 10pt;
  color: rgb(0, 0, 0);
  font-style: oblique;
}

#sortDiv {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
}

#sortDiv > h5 {
  margin: 0px;
  padding: 0px;
}

#sortDiv > a {
  text-decoration: none;
  color: black;
  font-style: oblique;
  font-size: 10pt;
}

#sortDiv > a:hover {
  text-decoration: underline;
}

#listDiv {
  overflow: scroll;
}

#listDiv > ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#listDiv > ul > li {
  display: flex;
  justify-content: space-between;
}

.info > h4,
p {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.info > p {
  font-style: oblique;
  font-size: 10pt;
}

.editDel {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-bottom: 15px;
}

.editDel > a {
  text-decoration: none;
  color: black;
}

.editDel > a:hover {
  font-style: oblique;
}

/* new-todo.hbs */
/* delete-todo.hbs */
/* edit-todo.hbs */
.pagewrapper {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  height: 15px;
  width: 20px;
  cursor: pointer;
}

.submitBtn {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  #wrapper {
    border: 1px solid black;
  }
}
