html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cad0bf;
}

#wrapper {
  width: 350px;
  padding: 30px;
  border: 1px solid black;
}

header {
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  justify-content: center;
}

nav > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14pt;
  color: rgb(0, 0, 0);
}

.bodywrapper {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#homewrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listdiv {
  display: flex;
  justify-content: left;
  gap: 30px;
  padding-bottom: 15px;
}

ul {
  text-align: left;
}

li > a {
  color: black;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

li > p {
  font-style: oblique;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
}

.listdiv > a {
  color: black;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 10pt;
}

#circleDiv {
  display: flex;
  justify-content: right;
}
.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle:hover {
  background-color: cadetblue;
}

.circle > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 10pt;
  color: rgb(0, 0, 0);
  font-style: oblique;
}

.inputBtn {
  border-style: none;
}

.submitBtn {
  width: auto;
}

h1 {
  text-align: center;
}

h3,
h4 {
  font-size: 14pt;
  margin: 0px;
  padding: 0px;
}

a:hover {
  font-style: oblique;
}

footer {
  border-top: 1px solid black;
}
